[submodule "lib/DrQA"]
	path = lib/DrQA
	url = git@github.com:facebookresearch/DrQA
[submodule "lib/allennlp"]
	path = lib/allennlp
	url = git@github.com:allenai/allennlp.git
[submodule "lib/fakenewschallenge"]
	path = lib/fakenewschallenge
	url = git@github.com:uclmr/fakenewschallenge.git
[submodule "data/fnc-1"]
	path = data/fnc-1
	url = https://github.com/fakenewschallenge/fnc-1
